.chat-container-header {
    display: flex;
    justify-content: center;
    background: rgba(17,35,75,255);
    border-bottom:1px solid  #EA2672;
}



.user-name  {
    display: flex;
    position: relative;
    bottom: 23px;
    right: 70px;
    color: white;
}

.profile {
  
    display: flex;
    align-items: center;
    color: #EA2672;
}
.profile-img {
   height: 140px;
width: 150px ;
border: white ;
/* background-color: #010536; */
overflow: hidden;
position: relative;
right: 25px;


}

.profile-photo {
    height: 100px ;
    width: 90px;
    position: relative;
    left: 400px;
    border-radius: 50px;
    left: 0px;
  
}


@media (max-width: 700px) {
    .chat-container-header {
 width: 100%;
 display: flex;
 flex-direction: column;
    }
    .profile-img{
        position: relative;
top: 30px;  
left: 100px;
    }
  }
