
.nav-home {
  width: 100%;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    /* background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); */
  max-height: 100vh;
  width: 100%;
  background: rgba(17,35,75,255);

  }

  .i.icon, i.icons {
    font-size: 3em;
  }
.posision {
  position: relative;
  top: 350px;
  right: 300px;

}
  .posicion {
    position: relative;
    top: 330px;
    left: 300px;
  }
  i {
font-size: 3em;  }
  .icon-left {
  position: relative;
  top: 360px;
  right: 280px;
  height: 50px;
}
  .icon-right {
  height: 15px;
  position: relative;
  top: 360px;
  left: 280px;
}









.send-direct {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
  
  .dashboard .swipe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgb(16,34,74);
    background: linear-gradient(40deg, rgba(16,34,74,1) 43%, rgba(149,3,78,1) 58%);     object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
background-size: cover;
border-left: 2px solid white;
  }

  .taille {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 50px 0px;
  }
  
  .swipe {
    position: absolute;
    height: fit-content;
    
  }

  .name {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;

  }

  .swipe-info {
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }
  
   .card-container {
    width: 400px;
    height: 650px;
  }
  
  .card {
   margin-top: 120px;
    position: relative;
    background-color: #fff;
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  
  .card h3 {
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dashboard .swipe-info {
    position: absolute;
     bottom: 0;
     padding: 10px;
  }
  
  @media only screen and (max-width: 700px) {
    .posicion {
      position: relative;
      
    }
    .dashboard {
      background: linear-gradient(34deg, rgba(1,5,54,1) 0%, rgba(234,38,114,1) 100%); 
      display: grid;
      grid-template-columns: 1fr ;

    }

    .profile-photo {
position: relative;
top: 30px;  
left: 150px;
  }

  .log-out-icon{
    position: relative;
    color: red;
    bottom: 50px;
  }
    .edit-btnm{
      display: flex;
      flex-direction: column;
    }
    .nav-home {
      display: flex;
      flex-direction: column;
    }
    .dashboard {
      display: flex;
      flex-direction: column;
    }
    .swipe-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    .card {
      display: flex;
      justify-content: center;
      height: 500px;
      width: 300px;
      position: relative;
      right: -40px;
      top: -100px;
      
    }
    .card h3 {
      display: flex;
      flex-direction: row;
     display: none;
    }
  }
  @media only screen and (max-width: 1300px) {
    .dashboard {
      height: 120vh;
      width: 100%;
    }
    .card {
      height: 500px;
      width: 300px;
      position: relative;
      right: -40px;
      top: -70px;
      
    }
    .posicion {
      position: relative;
      

    }
    .posision {
      position: relative;
      
    }
    .icon-left {
      position: relative;
      top: 360px;
      right: 220px;
      height: 50px;
    }
      .icon-right {
      height: 15px;
      position: relative;
      top: 360px;
      left: 220px;
    }
    
  }