.matches-display {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
overflow-y: scroll;
overscroll-behavior-y:none;
scrollbar-width: none;
color: white;
height: 850px;
width: 35%;

}

.match-card {
    height: 90px;
    width: 150px;
    margin: 100px 0px;

}

.picture-user-matches {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    justify-content: space-between;
    margin: -50px 0px;

}

.display-picture {
display: flex;
justify-content: center;
position: relative;
right: 150px;
}


@media (max-width: 700px) {
  .matches-display {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    left: 70px;

  }
  .picture-user-matches {
    width: 100%;
  }
  .match-card {
    width: 100%;
    display: flex;
    justify-content: center;;
  }
  }